body{
    background: url(https://img.freepik.com/free-photo/basil-leaves-chia-seeds-halved-tomato-oil-arranged-white-wooden-floor_23-2148026880.jpg?size=626&ext=jpg) no-repeat center fixed; 
    background-size: cover;
}

.nav-item{
    margin: 10px;
}

#recipeTitle{
    width: 100%;
}

#new-ingredient-field{
    color: green;   
}
.searchChoices{
    border: green;
    margin-right: 20px;
}

.container{
    margin-top: 50px;

}

.form-search{
    height: 70px;
    font-size: 2rem;
    margin-bottom: 20px;
}
.col-lg-9{
    border: black;
    border-width: medium;
    margin-right: 5px;
}

/* Account */
.logged-in, .logged-out {
display: none;
} 
#login-button, #signup-button {
position: relative;
bottom: 0;
left:0;
width: 107%;
padding: 1rem;
margin: 2rem 0 -1rem -1rem ;

border-top-right-radius: 0;
border-top-left-radius: 0;
}
.password-toggle {
color: rgb(190, 190, 190);
position: absolute;
width: auto;
bottom: 8px;
right: 10px;
margin-top: 0;
cursor: pointer;
pointer-events: all; 
}
.password-toggle:hover {
    color: rgb(170, 170, 170);
}
.password-toggle:active {
    color: rgb(150, 150, 150);
}

#password-match {
position: absolute;
width: auto;
bottom: 10px;
right: 10px;
margin-top: 0;
}
#password-match #no-match {
    color: red;
    display: none;
}
#password-match #match {
    color: green;
    display: none;
}

#password-login-response, #password-response {
display: inline
}



