body{
    background: url(https://img.freepik.com/free-photo/basil-leaves-chia-seeds-halved-tomato-oil-arranged-white-wooden-floor_23-2148026880.jpg?size=626&ext=jpg) no-repeat center fixed; 
    background-size: cover;
}
.navbar{
    color:black;

}
.container{
    margin-top: 50px;

}

.form-search{
    height: 70px;
    font-size: 2rem;
}
.col-lg-9{
    border: black;
    border-width: medium;
    margin-right: 5px;
}

#whisk-add-products{
    margin-top: 30px;
    border: 2px solid green;
    height: 50px;
    color: green;
}



