
body{
    background: url(https://img.freepik.com/free-photo/basil-leaves-chia-seeds-halved-tomato-oil-arranged-white-wooden-floor_23-2148026880.jpg?size=626&ext=jpg) no-repeat center fixed; 
    background-size: cover;
}

#home{
    font-family: 'Lobster', cursive;
}

.nav-item{
    margin: 10px;
}

#searchBox{
    background: white;
}
.searchChoices{
    border: green;
    margin-right: 20px;
}

.container{
    margin-top: 30px;
}
#welcome-user{
    font-size: 150%;
}

.form-search{
    height: 70px;
    font-size: 2rem;
    margin-bottom: 20px;
}
.col-lg-9{
    border: black;
    border-width: medium;
    margin-right: 5px;
}

/* User recipes */
#add-ingredient-div {
  position: absolute;
  width: auto;
  bottom: -5px;
  right: 0;
  margin-top: 0;
  cursor: pointer;
  pointer-events: all; 
}
  #add-ingredient {
    color: #28a745;
    font-size: 2rem;
    outline: none;
    border: none;
    -webkit-appearance: none;
    background: none;
  }
    #add-ingredient:hover {
      color: #218838
    }
    
.remove-ingredient {
  position: absolute;
  left: 10px;
  color: #dc3545;
  opacity: 0.5;
  font-size: 1rem;
  outline: none;
  border: none;
  -webkit-appearance: none;
  background: none;
}
  .remove-ingredient:hover {
    color: #c82333;
    opacity: 1;
  }
  .remove-ingredient:focus {
    outline: none;
  }

/* Account */
.logged-in, .logged-out {
  display: none;
} 
#login-button, #signup-button {
  position: relative;
  bottom: 0;
  left:0;
  width: 107%;
  padding: 1rem;
  margin: 2rem 0 -1rem -1rem ;

  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.password-toggle {
  color: rgb(190, 190, 190);
  position: absolute;
  width: auto;
  bottom: 8px;
  right: 10px;
  margin-top: 0;
  cursor: pointer;
  pointer-events: all; 
}
.password-toggle:hover {
  color: rgb(170, 170, 170);
}
.password-toggle:active {
  color: rgb(150, 150, 150);
}

#password-match {
  position: absolute;
  width: auto;
  bottom: 10px;
  right: 10px;
  margin-top: 0;
}
#password-match #no-match {
  color: red;
  display: none;
}
#password-match #match {
  color: green;
  display: none;
}

#password-login-response, #password-response {
  display: inline
}

/* Delete Recipe */
.delete {
  position: absolute;
  right: 6px;
  top: 6px;
}

#confirm-delete, #cancel-delete {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Recipe Display */
.recipe-title {
  color: #fff;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding: 4px 8px;
}

.recipe-url-div {
  color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); 
  width: 100%;
  position: absolute;
  top: 325px;
  left: 0;
}

.recipe-img-overlay {
  height: 348px;
}

/* Input Errors */
.error {
  width  : 100%;
  padding: 0;
 
  font-size: 80%;
  color: #fff;
  background-color: red;
  border-radius: 0 0 5px 5px;
 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  .error.active {
    padding: 0.3em;
  }

#ingredients-error {
  position: absolute;
  width: auto;
  margin-bottom: 5px;
}
